.content {
  background-color: var(--color-base-white);
  padding: var(--space-xs);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow);

  h4 {
    color: hsl(283, 59%, 30%);
  }

  label {
    color: hsl(103, 7%, 19%);
  }
}

.arrow {
  fill: var(--color-base-white);
}
