@use "../abstracts/mixins" as m;

.d-grid-two-columns {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap, 5rem);

  &.half {
    grid-template-columns: 1fr 1fr;

    @include m.respond-to(tab-port) {
      grid-template-columns: 1fr;
      gap: var(--gap, 6rem);
    }
  }

  @include m.respond-to(tab-port) {
    grid-template-columns: 1fr;
    gap: var(--gap, 3rem);
  }
}

.d-grid-three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;

  @include m.respond-to(phone-large) {
    grid-template-columns: 1fr;
    gap: var(--gap, 3rem);
  }
}

.d-grid__column {
  > :first-child {
    margin-top: 0;
  }
}

.d-inline {
  display: flex;
}
