.header {
  background-color: hsl(var(--color-primary-100));
  padding: 12rem 0;
  position: relative;
  text-align: center;

  .lead {
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    position: relative;
    z-index: 10;
  }

  &--home {
    text-align: left;
  }
}
