@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as m;

.container {
  margin: 0 auto;
  max-width: 95%;
  max-width: 105rem;

  &--narrow {
    width: 90%;
    max-width: 95rem;

    @include m.respond-to(phone-large) {
      width: 88%;
    }
  }

  &--wide {
    max-width: 140rem;
  }
}
