.note {
  background-color: var(--color-primary-lightest);
  border-radius: var(--border-radius-md);
  padding: var(--space-16) var(--space-24);
  position: relative;
  margin: var(--space-24) 0;
  border: 2px solid var(--color-primary-light);

  &.info {
    background-color: var(--color-info-light);
    border: 2px solid var(--color-info);

    :global([data-theme="dark"]) & {
      background-color: var(--color-base);
      border: 2px solid var(--color-info);
    }
  }

  &.warning {
    background-color: var(--color-warning-light);
    border: 2px solid var(--color-warning);

    :global([data-theme="dark"]) & {
      background-color: var(--color-warning-dark);
      border: 2px solid var(--color-warning);
    }
  }

  svg {
    outline: 0.35rem solid var(--color-base-white);
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--color-base-white);
    border-radius: 50%;

    :global([data-theme="dark"]) & {
      outline: 0.35rem solid hsl(283, 5%, 9%);
      background-color: hsl(283, 5%, 9%);
    }
  }
}
