.note {
  background-color: var(--color-primary-lightest);
  border-radius: var(--border-radius-xsm);
  padding: var(--space-24);
  position: relative;
  margin: var(--space-24) 0;

  svg {
    outline: 0.35rem solid var(--color-base-white);
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    width: 1rem;
    height: 1rem;
    background-color: var(--color-base-white);
    border-radius: 50%;
    color: var(--color-primary-darkest);
  }
}
