@use "../abstracts/variables" as *;

html {
  font-family: var(--font-family-body);
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: hsl(var(--color-primary-300));
}

body {
  color: hsl(var(--color-gray-900));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h2,
h3,
h4 {
  color: hsl(var(--color-primary-700));
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  font-weight: var(--font-weight-heavy);
}

h2 {
  font-size: 3rem;
  margin: 3rem 0 2rem;
  font-weight: 800;
  font-weight: var(--font-weight-heavy);
}

h3 {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  font-weight: var(--font-weight-medium);
}

h4 {
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.7rem;
  margin: 1.5rem 0;
  line-height: 1.6;
}

a {
  // Should I use clamp here?
  font-size: inherit;
  position: relative;
  text-decoration: none;
  border-bottom: 0.1em solid hsl(var(--color-primary-300));
  transition: 0.1s ease all;

  &:link {
    color: hsl(var(--color-primary-700));
  }

  &:hover,
  &:focus {
    border-bottom: 0.2em solid hsl(var(--color-primary-500));
  }

  &:active {
    border-bottom: 0.1em solid hsl(var(--color-primary-500));
    color: hsl(var(--color-primary-700));
  }

  &.big-link {
    font-size: 2.3rem;
  }
}

.lead {
  max-width: 80rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.eyebrow {
  display: block;
  text-transform: uppercase;
  color: hsl(var(--color-primary-700));
  font-size: 1.5rem;
  font-weight: var(--font-weight-medium);
}

li {
  font-size: 1.7rem;
  line-height: 1.8;
}

.nuxt-content-highlight {
  position: relative;
}

.post pre[class*="language-"] {
  font-size: 1.4rem;
  width: 100%;
  margin: 2rem 0 4rem;
  white-space: pre-wrap;
  max-height: 65rem;
}

blockquote {
  background-color: hsl(var(--color-primary-100));
  padding: 2rem;
  border-radius: var(--border-radius-xsm);
  margin: 2rem 0;
  border-left: 4px solid hsl(var(--color-primary-300));

  p {
    margin: 0;
  }
}

.read-more {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  border-bottom: none;

  svg {
    transition: 0.2s ease transform;
    margin-left: 0.5rem;
  }

  &:hover {
    border-bottom: none;

    svg {
      transform: translateX(1rem);
    }
  }
}

p code {
  border-radius: 0.3rem;
  padding: 0.4rem;
  font-size: 1.6rem;
  background-color: hsl(var(--color-primary-100));
}

.fancy-header {
  position: relative;
  &__dots {
    position: absolute;
    top: -2rem;
    left: -2.5rem;
  }
}
