.button {
  background-color: var(--color-primary-lightest);
  border: none;
  display: inline-flex;
  align-items: center;
  border-radius: var(--border-radius-sm);
  padding: var(--space-2xs) var(--space-s);
  align-self: center;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--color-primary-lighter);
  }

  &:active {
    background-color: var(--color-primary);
  }

  &Unstyled {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
