// How can we make this button cooler?

.button {
  background-color: var(--color-primary-lightest);
  border: none;
  display: inline-flex;
  align-items: center;
  border-radius: var(--border-radius-sm);
  padding: var(--space-16) var(--space-24);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--color-primary-light);
  }

  &:active {
    background-color: var(--color-primary);
  }
}
