.postTag {
  color: var(--color-base-darkest);
  background-color: var(--color-base-white);
  border-radius: var(--border-radius-sm);
  padding: var(--space-3xs) var(--space-sm);
  font-size: var(--font-size-xs);

  :global([data-theme="dark"]) & {
    color: var(--color-base-lightest);
    background-color: var(--color-base-dark);
  }
}
