.postTag {
  color: var(--color-secondary-darkest);
  background-color: var(--color-secondary-light);
  border-radius: var(--border-radius-sm);
  padding: var(--space-4) var(--space-16);
  font-size: var(--font-size-sm);
}
