.desktopNavigationList {
  display: flex;
  list-style: none;
  gap: var(--space-2xs);
  padding: 0;
}

.desktopNavigationLink {
  --border-size: 2px;
  display: block;
  padding: var(--space-2xs) var(--space-s);
  border-bottom: var(--border-size) solid transparent;
  color: var(--color-body-text);
  font-size: var(--font-size-sm);

  &:hover {
    border-bottom: var(--border-size) solid transparent;
    background-color: var(--color-primary-lightest);
  }
}
