@use "../../styles/breakpoints" as *;

.tableOfContents {
  display: none;

  @media screen and (min-width: $breakpoint-md) {
    position: sticky;
    display: block;
    top: 1rem;
    align-self: flex-start;
  }

  h4 {
    font-size: var(--font-size-base);
    text-transform: uppercase;
    font-weight: var(--font-weight-boldest);
  }

  ul {
    list-style: none;
    padding: 0;
  }

  a {
    font-size: var(--font-size-sm);
  }
}
