@use "../../styles/breakpoints" as *;

.tableOfContents {
  display: none;

  @media screen and (min-width: $breakpoint-lg) {
    position: sticky;
    display: block;
    top: 1rem;
    align-self: flex-start;
  }

  h4 {
    font-size: var(--font-size-sm);
  }

  ul {
    list-style: none;
    padding: 0;
  }

  a {
    font-size: var(--font-size-sm);
  }
}
