@mixin respond-to($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == phone-large {
    @media only screen and (max-width: 43.75em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 46.875em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 62.5em) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 62.5em) {
      @content;
    }
  }
}
