:root {
  --color-primary-100: 283, 47%, 97%;
  --color-primary-300: 283, 46%, 69%;
  --color-primary-500: 282, 50%, 42%;
  --color-primary-700: 283, 59%, 27%;
  --color-primary-900: 283, 89%, 15%;

  --color-secondary-100: 30, 63%, 97%;
  --color-secondary-300: 35, 100%, 93%;
  --color-secondary-500: 34, 100%, 86%;
  --color-secondary-700: 35, 100%, 75%;
  --color-secondary-900: 39, 100%, 55%;

  --color-gray-100: 300, 8%, 95%;
  --color-gray-300: 285, 7%, 89%;
  --color-gray-500: 282, 7%, 52%;
  --color-gray-700: 285, 7%, 33%;
  --color-gray-900: 283, 7%, 19%;

  --color-white: 0, 0%, 100%;

  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --font-weight-heavy: 800;

  --breakpoint-xsm: 37.5em;
  --breakpoint-sm: 43.75em;
  --breakpoint-md: 46.875em;
  --breakpoint-lg: 62.5em;
  --breakpoint-xlg: 62.5em;

  --border-radius-xsm: 0.5rem;
  --border-radius-sm: 1rem;
  --border-radius-lg: 2rem;
}
