.bookRating {
  position: absolute;
  display: flex;
  background-color: var(--color-base-white);
  border-radius: var(--border-radius-lg);
  align-items: center;
  font-size: var(--font-size-sm);
  padding-inline: var(--space-2xs);
  gap: var(--space-3xs);
  top: var(--space-2xs);
  left: var(--space-3xs);
  min-width: fit-content;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  color: var(--color-base-dark);
}

.star {
  fill: var(--color-primary-dark);
  stroke: none;
}
