.bookRating {
  position: absolute;
  display: flex;
  background-color: var(--color-base-white);
  border-radius: var(--border-radius-lg);
  align-items: center;
  font-size: var(--font-size-sm);
  padding-inline: var(--space-8);
  gap: var(--space-4);
  top: var(--space-4);
  left: var(--space-4);
  min-width: fit-content;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
}

.star {
  fill: var(--color-primary-dark);
  stroke: none;
}
