.switchWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.Root {
  all: unset;
  width: 42px;
  height: 25px;
  border-radius: 9999px;
  position: relative;
  background-color: var(--color-primary-light);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:focus {
    box-shadow: 0 0 0 2px var(--color-primary-darker);
  }
  &:hover {
    cursor: pointer;
  }
  &[data-state="checked"] {
    background-color: var(--color-primary-dark);
  }
}

.Thumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
  &[data-state="checked"] {
    transform: translateX(19px);
  }
}

.Label {
  color: var(--color-base-darkest);
  line-height: 1;
  user-select: none;
  font-size: var(--font-size-base);
  &:hover {
    cursor: pointer;
  }
}
