.section {
  padding-block-start: 4rem;
  padding-block-end: 8rem;
  position: relative;

  &--secondary {
    background-color: hsl(var(--color-primary-100));
  }

  &--slim {
    padding-block-start: 2rem;
    padding-block-end: 3rem;
  }
}
