.proseContainer {
  h2:not(:first-child) {
    margin-block-start: var(--space-32);
  }

  h3 {
    margin-block-start: var(--space-24);
  }

  ul {
    padding-inline-start: var(--space-16);
  }

  p {
    opacity: 0.85;
  }
}
