@use "./variables" as *;

.text-center {
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.centered-block {
  display: block;
  margin: 0 auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.mt-15 {
  margin-top: 1.5rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-2 {
  margin-right: 2rem;
}

.pb-7 {
  padding-bottom: 7rem !important;
}

.underline {
  color: hsl(var(--color-primary-500));
  font-weight: bold;
}

.fancy-image {
  position: relative;

  &::before {
    content: "";
    border-radius: var(--border-radius-sm);
    position: absolute;
    top: 1rem;
    bottom: -1rem;
    right: -1rem;
    left: 1rem;
    background-color: hsl(var(--color-secondary-500));
    z-index: -10;
  }
}

.image-rounded {
  border-radius: 50%;
}

.image-small {
  width: 6rem;
}

.text-small {
  font-size: 1.3rem;
}

.list-unstyled {
  list-style-type: none;
}
