* {
  scrollbar-color: var(--color-primary-dark) var(--color-primary-lightest);
}

body {
  ::-webkit-scrollbar-track {
    background: var(--color-primary-300);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-primary-700);
  }
  overflow-x: hidden;
}
