* {
  scrollbar-color: var(--color-primary-dark) var(--color-primary-lightest);
}

html {
  scroll-behavior: smooth;
}

body {
  ::-webkit-scrollbar-track {
    background: var(--color-primary-300);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-primary-700);
  }

  padding: var(--space-16);

  background-color: var(--color-surface);
  overflow-x: hidden;
}
