* {
  scrollbar-color: var(--color-primary-dark) var(--color-primary-lightest);
}

html {
  scroll-behavior: smooth;
}

body {
  ::-webkit-scrollbar-track {
    background: var(--color-primary-300);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-primary-700);
  }
  overflow-x: hidden;
}

// hr {
//   position: relative;
//   margin: var(--space-40) 0;
//   height: 50px;
//   border: dashed black;

//   &::after {
//     content: "🐜";
//     position: absolute;
//     height: 1rem;
//     width: 1rem;
//     right: 0;
//     transform: rotateX(90deg) rotateY(90deg);
//   }
// }
