* {
  scrollbar-color: var(--color-primary-dark) var(--color-primary-lightest);
}

html {
  scroll-behavior: smooth;
}

body {
  ::-webkit-scrollbar-track {
    background: var(--color-primary-300);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-primary-700);
  }

  background-color: var(--color-surface-light);
  position: relative;
  display: flex;
  flex-direction: column;

  &[data-scroll-locked] {
    padding-left: var(--space-s) !important;
    padding-right: var(--space-s) !important;
    padding-top: var(--space-s) !important;
    margin: 0;
  }

  min-height: 100vh;
  padding: var(--space-s);

  background-color: var(--color-surface-light);
  overflow-x: hidden;
}
