html {
  font-family: var(--font-family-body);
  font-size: var(--font-size-base);
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--color-text);
  font-weight: var(--font-weight-normal);
  line-height: 1.8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
}

h1 {
  font-size: var(--font-size-4xl);
  margin-block-end: var(--space-16);
  font-weight: var(--font-weight-boldest);
  color: var(--color-primary-darker);
  line-height: 1.2;
}

h2 {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-boldest);
  line-height: 1.2;
}

h3 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

h4 {
  font-size: var(--font-size-lg);
  margin-block-end: var(--space-8);
}

p,
li,
a {
  font-size: var(--font-size-base);
}

.prose {
  h2 {
    font-size: var(--font-size-2xl);
    color: var(--color-primary-darker);
  }
}

label,
input {
  font-size: var(--font-size-md);
}

a {
  --border-size: 2px;
  font-size: inherit;
  position: relative;
  text-decoration: none;
  border-bottom: var(--border-size) solid var(--color-primary);
  transition: 0.1s ease border;

  &:link {
    color: var(--color-primary);
  }

  // Come back to this
  &:hover,
  &:focus {
    border-bottom: var(--border-size) solid var(--color-primary);
  }

  &:active {
    border-bottom: var(--border-size) solid var(--color-primary);
    color: var(--color-primary-darker);
  }
}

.lead {
  font-size: var(--font-size-xl);
}

li {
  font-size: inherit;
}

blockquote {
  background-color: var(--color-primary-lightest);
  padding: var(--space-24);
  border-radius: var(--border-radius-sm);
  margin: var(--space-24) 0;
  border-left: 4px solid var(--color-primary-dark);

  p {
    margin: 0;
  }
}

[data-bright-theme] {
  code > div {
    padding: 0 1.3em !important;
  }
  width: calc(100% + 4em);

  margin-block: -2em !important;
}

pre {
  font-size: var(--font-size-sm);
}
