html {
  font-family: var(--font-family-body);
  font-size: var(--font-size-base);
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--color-text);
  font-weight: var(--font-weight-normal);
  line-height: 1.8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-body);
  margin-block-start: 0;
}

h1,
h2,
h3 {
  line-height: 1.3;
}

h1 {
  font-size: var(--font-size-3xl);
  margin-block-end: var(--space-s);
  font-weight: var(--font-weight-boldest);
  color: var(--color-primary-darkest);
  text-wrap: pretty;
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-boldest);
  color: var(--color-primary-darker);
  text-wrap: pretty;
}

h3 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-boldest);
  color: var(--color-base-darkest);
}

h4 {
  font-size: var(--font-size-md);
  margin-block-end: var(--space-2xs);
}

p,
li,
a {
  font-size: var(--font-size-base);
  text-wrap: pretty;
  max-width: 70ch;
}

label,
input {
  font-size: var(--font-size-md);
}

a {
  --border-size: 2px;
  font-size: inherit;
  position: relative;
  text-decoration: none;
  transition: 0.1s ease border;
  color: var(--color-link);

  &:not(:has(svg)):not(:has(img)) {
    border-bottom: var(--border-size) solid var(--color-primary);

    // Come back to this
    &:hover,
    &:focus {
      color: var(--color-primary-darkest);
      border-bottom: var(--border-size) solid var(--color-primary-darker);
    }

    &:active {
      border-bottom: var(--border-size) solid var(--color-primary-darker);
      color: var(--color-primary-darker);
    }
  }
}

strong {
  font-weight: var(--font-weight-boldest);
}

blockquote {
  background-color: var(--color-primary-lightest);
  padding: var(--space-m);
  border-radius: var(--border-radius-sm);
  margin: var(--space-m) 0;
  border-left: 4px solid var(--color-primary-dark);

  p {
    margin: 0;
  }
}

code:not(pre code) {
  font-family: var(--font-family-code);
  background-color: var(--color-primary-lightest);
  padding-inline: var(--space-3xs);
  border-radius: var(--border-radius-sm);
  letter-spacing: -0.5px;
}
