html {
  font-family: var(--font-family-body);
  font-size: var(--font-size-base);
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--color-gray-900);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1 {
  font-size: var(--font-size-4xl);
  margin-bottom: 2rem;
  font-weight: var(--font-weight-boldest);
  color: var(--color-primary-darker);
}

h2 {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-boldest);
  font-weight: var(--font-weight-heavy);
}

h3 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
}

h4 {
  font-size: var(--font-size-lg);
  margin-bottom: 0.5rem;
}

p {
  font-size: var(--font-size-base);
  line-height: 1.7;
  font-weight: var(--font-weight-medium);
}

label,
input {
  font-size: var(--font-size-md);
}

a {
  font-size: inherit;
  position: relative;
  text-decoration: none;
  border-bottom: 0.1em solid hsl(var(--color-primary));
  transition: 0.1s ease border;

  &:link {
    color: var(--color-primary);
  }

  &:hover,
  &:focus {
    border-bottom: 0.2em solid var(--color-primary);
  }

  &:active {
    border-bottom: 0.1em solid var(--color-primary);
    color: var(--color-primary-darker);
  }
}

.lead {
  font-size: var(--font-size-xl);
}

li {
  font-size: inherit;
  line-height: 1.7;
}

blockquote {
  background-color: var(--color-primary-lightest);
  padding: 2rem;
  border-radius: var(--border-radius-sm);
  margin: 2rem 0;
  border-left: 4px solid var(--color-primary-dark);

  p {
    margin: 0;
  }
}

.read-more {
  display: inline-flex;
  align-items: center;
  border-bottom: none;

  svg {
    transition: 0.2s ease transform;
    margin-left: 0.5rem;
  }

  &:hover {
    border-bottom: none;

    svg {
      transform: translateX(1rem);
    }
  }
}

[data-bright-theme] {
  code > div {
    padding: 0 !important;
    padding: 0 1.3em !important;
  }
  width: calc(100% + 4em);

  margin-left: -2em !important;
}

pre {
  font-size: var(--font-size-sm);
}

.skip-to-content {
  background-color: var(--color-primary-700);
  color: var(--color-white);
  font-size: var(--font-size-base);
  left: 0;
  padding: 1.5rem;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-to-content:focus {
  border-bottom: none;
  transform: translateY(0%);
  z-index: 1000;
}
