.flow {
  > * + * {
    margin-block-start: var(--space-16);
  }
}

.header-huge {
  font-size: var(--font-size-5xl);
}

.header-1 {
  font-size: var(--font-size-4xl);
}

.header-2 {
  font-size: var(--font-size-3xl);
}

.header-3 {
  font-size: var(--font-size-xl);
}

.header-4 {
  font-size: var(--font-size-lg);
}

.lead {
  font-size: var(--font-size-lg);
}

.eyebrowify {
  font-size: var(--font-size-base);
  text-transform: uppercase;
  font-weight: var(--font-weight-boldest);
}

.text-center {
  text-align: center;
}
