.flow {
  > * + * {
    margin-block-start: var(--space-16);
  }
}

.header-1 {
  font-size: var(--font-size-4xl);
}

.header-2 {
  font-size: var(--font-size-3xl);
}

.header-3 {
  font-size: var(--font-size-xl);
}

.header-4 {
  font-size: var(--font-size-lg);
}

.text-center {
  text-align: center;
}
