.flow {
  > * + * {
    margin-block-start: var(--space-m);
  }
}

.header-1 {
  font-size: var(--font-size-3xl);
}

.header-2 {
  font-size: var(--font-size-2xl);
}

.header-3 {
  font-size: var(--font-size-xl);
}

.header-4 {
  font-size: var(--font-size-lg);
}

.header-5 {
  font-size: var(--font-size-md);
}

.lead {
  font-size: var(--font-size-md);
  max-width: 65ch;
}

.text-center {
  text-align: center;
}

@mixin generate-margin-utilities($directions, $spaces) {
  @each $direction in $directions {
    @each $space, $value in $spaces {
      .margin-#{$direction}-#{$space} {
        margin-#{$direction}: var(--space-#{$value});
      }
    }
  }
}

$directions: (top, right, bottom, left);
$spaces: (
  3xs: 3xs,
  2xs: 2xs,
  xs: xs,
  s: s,
  m: m,
  l: l,
  xl: xl,
  2xl: 2xl,
  3xl: 3xl,
);

@include generate-margin-utilities($directions, $spaces);
