.flow {
  > * + * {
    margin-block-start: var(--space-24);
  }
}

.header-huge {
  font-size: var(--font-size-3xl);
}

.header-1 {
  font-size: var(--font-size-3xl);
}

.header-2 {
  font-size: var(--font-size-2xl);
}

.header-3 {
  font-size: var(--font-size-xl);
}

.header-4 {
  font-size: var(--font-size-lg);
}

.header-5 {
  font-size: var(--font-size-md);
}

.lead {
  font-size: var(--font-size-md);
  max-width: 65ch;
}

.eyebrowify {
  font-size: var(--font-size-base);
  text-transform: uppercase;
  font-weight: var(--font-weight-boldest);
}

.text-center {
  text-align: center;
}

.margin-right-8 {
  margin-right: var(--space-8);
}

.margin-right-16 {
  margin-right: var(--space-16);
}
