.button {
  display: inline-block;
  text-decoration: none;
  background-color: var(--color-primary-500);
  color: var(--color-white);
  border-radius: 3rem;
  padding: 1rem 2.5rem;
  font-size: 1.8rem;
  transition: 0.3s ease all;

  &:hover {
    background-color: var(--color-primary-700);
  }
}
