.container {
  margin: 0 auto;
  max-width: 90%;

  &--narrow {
    width: 90%;
    max-width: 90rem;
  }

  &--wide {
    max-width: 140rem;
  }
}

.header {
  background-color: var(--color-secondary-100);
  padding: 15rem 0 3rem;
  text-align: center;

  &--home {
    text-align: left;
  }
}

.section {
  padding: 14rem 0;

  @include respond-to(phone) {
    padding: 7rem 0;
  }

  &--secondary {
    background-color: var(--color-secondary-100);
  }
}
