scrollbar {
  width: 1.5rem;
}

scrollbar-track {
  background: var(--color-primary-100);
}

scrollbar-thumb {
  background: var(--color-primary-700);
}

::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-track {
  background: var(--color-primary-100);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary-700);
}

.container {
  margin: 0 auto;
  max-width: 90%;

  &--narrow {
    max-width: 90rem;
  }

  &--wide {
    max-width: 140rem;
  }
}

.header {
  background-color: var(--color-secondary-100);
  padding: 16rem 0 3rem;
  text-align: center;

  &--home {
    text-align: left;
  }
}

.section {
  padding: 10rem 0;

  &--secondary {
    background-color: var(--color-secondary-100);
  }
}
