.post {
  padding: 5rem 0;
  display: flex;
  align-items: flex-start;

  .lead {
    text-align: left;
    max-width: 100%;
  }

  @include respond-to(tab-port) {
    flex-direction: column;
  }

  ul {
    margin-left: 2rem;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    ul {
      margin-left: 2rem;
    }
  }

  &__content {
    flex-basis: 70%;
    margin-right: 6rem;

    @include respond-to(tab-port) {
      flex-basis: 100%;
      width: 100%;
    }

    p:first-of-type {
      margin-top: 0;
    }
  }

  &__sidebar {
    flex-basis: 30%;
    background-color: var(--color-primary-100);
    padding: 3rem;
    border-radius: var(--border-radius-sm);
    position: sticky;
    top: 13rem;

    @include respond-to(tab-port) {
      flex-basis: 100%;
      order: -1;
      position: static;
      width: 100%;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.6rem;
      margin-top: 0;
      margin-bottom: 0.8rem;
    }

    ul {
      margin-left: 0;
    }

    li {
      font-size: 1.6rem;
      line-height: 1.8;
      list-style: none;
      margin-bottom: 0.5rem;
    }
  }
}
