.post .section:first-of-type {
  padding-top: 0;
}

.content {
  display: grid;
  padding: 0 0 5rem;
  grid-template-areas: 'content sidebar ';
  grid-template-columns: 2.5fr 1fr;
  gap: 4rem;

  .lead {
    text-align: left;
    max-width: 100%;
  }

  @include respond-to(tab-port) {
    grid-template-areas:
      'sidebar'
      'content';
    grid-template-columns: 1fr;
  }

  ul {
    margin-left: 2rem;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    ul {
      margin-left: 2rem;
    }
  }

  .section:first-of-type {
    padding-top: 0;
  }

  &__info {
    display: flex;
    align-items: center;
    color: var(--color-gray-500);
    border-radius: var(--border-radius-sm);
    margin-bottom: 2rem;

    p {
      font-size: 1.4rem;
      margin-bottom: 0;
    }
  }

  &__text {
    grid-area: content;
    margin-right: 6rem;

    @include respond-to(tab-port) {
      flex-basis: 100%;
      width: 100%;
    }

    p:first-of-type {
      margin-top: 0;
    }
  }

  &__sidebar {
    grid-area: sidebar;
    align-self: start;
    background-color: var(--color-primary-100);
    padding: 3rem;
    border-radius: var(--border-radius-sm);
    position: sticky;
    top: 13rem;

    @include respond-to(tab-port) {
      position: static;
      width: 100%;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.5rem;
      margin-top: 0;
      margin-bottom: 2rem;
    }

    ul {
      margin-left: 0;
    }

    li {
      font-size: 1.5rem;
      line-height: 1.8;
      list-style: none;
      margin-bottom: 0.5rem;
    }
  }
}
