*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}
