*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond-to(tab-port) {
    font-size: 59%;
  }
}

html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}
