html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: var(--color-primary-300);
}

body {
  color: var(--color-gray-900);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h2,
h3,
h4 {
  color: var(--color-primary-700);
}

h1 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3.3rem;
  margin: 3rem 0 2rem;
}

h3 {
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.9rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.8rem;
  margin: 2rem 0 2.5rem;
  line-height: 1.6;
}

a {
  font-size: inherit;
  position: relative;
  text-decoration: none;
  border-bottom: 0.1em solid var(--color-primary-300);
  transition: 0.2s ease all;

  &:link {
    color: var(--color-primary-700);
  }

  &:hover,
  &:focus {
    border-bottom: 0.1em solid var(--color-primary-500);
  }

  &:active {
    border-bottom: 0.1em solid var(--color-primary-500);
    color: var(--color-primary-700);
  }
}

.lead {
  margin: 0 auto;
  text-align: center;
  max-width: 70rem;
  margin-bottom: 4rem;
  font-size: 2rem;
}

li {
  font-size: 1.8rem;
  line-height: 1.8;
}

.nuxt-content-highlight {
  position: relative;
}

.post pre[class*='language-'] {
  font-size: 1.5rem;
  width: 100%;
  margin: 2rem 0 4rem;
  white-space: pre-wrap;
  max-height: 65rem;
}

blockquote {
  background-color: var(--color-primary-100);
  padding: 1rem 3rem;
  border-radius: 0.4rem;
  margin: 2rem 0;

  border-left: 5px solid var(--color-primary-700);
}
