html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--color-gray-900);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h2,
h3 {
  color: var(--color-primary-700);
}

h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

a {
  font-size: inherit;
  position: relative;
  text-decoration: none;

  &:not(.navigation__link):not(.button) {
    color: var(--color-primary-700);
  }

  &:not(.button)::before {
    content: '';
    background-color: var(--color-primary-300);
    transform: translateX(0);
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    right: 0;
    height: 0.2rem;
    transition: 0.2s ease all;
  }

  &:not(.button)::after {
    content: '';
    background-color: var(--color-primary-500);
    transform: translateX(0);
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    width: 0%;
    height: 0.2rem;
    transition: 0.2s ease all;
  }

  &:hover::after {
    width: 100%;
  }
}

.lead {
  margin: 0 auto;
  text-align: center;
  max-width: 55rem;
  margin-bottom: 4rem;
}

li {
  font-size: 1.8rem;
  line-height: 1.8;
}
