.text-center {
  text-align: center;
}

.centered-block {
  display: block;
  margin: 0 auto;
}

.mt-4 {
  margin-top: 4rem;
}

hr {
  width: 10rem;
  height: 0.5rem;
  margin: 1.5rem auto 3rem;
  border-radius: 1rem;
  background-color: var(--color-secondary-500);
  border: none;
}

.underline {
  color: var(--color-primary-500);
  font-weight: bold;
}
