:root {
  --color-primary-100: #f9f4fb;
  --color-primary-300: #bf8cd4;
  --color-primary-500: #8136a0;
  --color-primary-700: #561c6d;
  --color-primary-900: #350448;

  --color-secondary-100: #fcf7f2;
  --color-secondary-300: #fff0db;
  --color-secondary-500: #ffe0b8;
  --color-secondary-700: #ffca7f;
  --color-secondary-900: #ffaf19;

  --color-gray-100: #f3f1f3;
  --color-gray-300: #e4e1e5;
  --color-gray-500: #887c8d;
  --color-gray-700: #574e5a;
  --color-gray-900: #322d34;

  --color-white: #ffffff;

  --breakpoint-xsm: 37.5em;
  --breakpoint-sm: 43.75em;
  --breakpoint-md: 46.875em;
  --breakpoint-lg: 62.5em;
  --breakpoint-xlg: 62.5em;

  --border-radius-xsm: 0.5rem;
  --border-radius-sm: 1rem;
  --border-radius-lg: 2rem;
}
