@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.blog {
  max-width: 80rem;
  border-radius: 1rem;
  transition: 0.2s ease all;
  width: 100%;
  display: flex;
  z-index: 10;
  margin: 3rem 0;

  @include respond-to(phone) {
    flex-direction: column;
    padding: 3rem;
    background-color: hsl(var(--color-white));
  }

  &.purple {
    background-color: hsl(var(--color-primary-100));
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
