@use '../abstracts/mixins' as *;

.books {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include respond-to(tab-land) {
    align-items: center;
    flex-direction: column;
  }
}

.book {
  display: flex;
  width: 45%;
  margin-bottom: 5rem;

  &__art {
    margin-right: 2rem;
    flex: 0 0 15rem;
  }

  &__image {
    border-radius: 0;
    align-self: flex-start;

    @include respond-to(phone) {
      margin-bottom: 2rem;
    }
  }

  &__rating {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    @include respond-to(phone) {
      margin-bottom: 1rem;
      justify-content: flex-start;
    }
  }

  &__title {
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }

  &__author {
    margin: 0 0 0.75rem;
  }

  &__thoughts {
    font-size: 1.6rem;
    margin-top: 0;
  }

  @include respond-to(tab-land) {
    width: 75%;
  }

  @include respond-to(phone) {
    flex-direction: column;
  }

  .feather-star {
    color: goldenrod;
    fill: goldenrod;
    width: 1.8rem;
    height: 1.8rem;
  }
}
