@use "../abstracts/mixins" as m;

.callout-blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  margin: 4rem 0;
}

.callout-block {
  background-color: hsl(var(--color-white));
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: var(--border-radius-xsm);
  box-shadow: 0 2px 1.5rem rgba(0, 0, 0, 0.05);

  &__icon {
    background-color: hsl(var(--color-white));
    align-self: flex-start;
    border-radius: var(--border-radius-xsm);
    color: hsl(var(--color-primary-700));
  }

  &__title {
    color: hsl(var(--color-primary-700));
    font-weight: var(--font-weight-medium);
  }

  &__details {
    p {
      margin: 1rem 0 0;
    }
  }

  @include m.respond-to(phone) {
    aspect-ratio: auto;
  }
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  justify-content: center;

  @include m.respond-to(tab-port) {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}
