@use "../abstracts/mixins" as *;

.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  margin: 5rem 0;

  @include respond-to(tab-port) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.project {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 5rem;
  &__image {
    border-radius: 1rem;
    overflow: hidden;
  }

  .read-more {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    border-bottom: none;

    &:hover {
      border-bottom: none;

      svg {
        transform: translateX(1rem);
      }
    }
  }
}
