.testimonials {
  display: grid;
  place-content: center;
}

.testimonial {
  background-color: hsl(var(--color-primary-100));
  border-radius: var(--border-radius-sm);
  padding: 2rem;
  max-width: 50rem;

  &__author {
    display: flex;
    gap: 2rem;
  }

  &__author-image {
    border-radius: 50%;
    width: 6rem;
  }
}
