@use "../../styles/breakpoints" as *;

.backgroundGridLines {
  inset: 0;
  position: absolute;
  pointer-events: none;
  z-index: -1;
  margin-inline: auto;
  max-width: calc(63rem + var(--space-lg));
  padding-inline: var(--space-lg);
  display: flex;
  justify-content: space-between;

  @media (max-width: $breakpoint-md) {
    padding-inline: var(--space-sm);
  }

  .line {
    height: 100%;
    width: 1px;
    background-color: var(--color-base-lightest);

    :global([data-theme="dark"]) & {
      background-color: var(--color-primary-lightest);
    }
  }
}
