@use "../../styles/breakpoints" as *;

.header {
  padding-block-start: var(--space-m);
  position: relative;
  border-radius: var(--border-radius-md);

  &Plain {
    background-color: transparent;

    :global([data-theme="dark"]) & {
      background-color: var(--color-base-darker);
    }
  }

  &Huge {
    padding-block-start: var(--space-2xl);
    padding-block-end: var(--space-2xl);
  }

  @media (min-width: $breakpoint-md) {
    padding-block: var(--space-2xl);
  }

  @media (prefers-reduced-motion: no-preference) {
    @supports ((animation-timeline: scroll()) and (animation-range: 0% 100%)) {
      animation: leave-view linear both;
      animation-timeline: scroll(root);
      animation-range: 10vh 30vh;

      @keyframes leave-view {
        to {
          opacity: 0;
          translate: 0 50px;
        }
      }
    }
  }
}
