@use "../../styles/breakpoints" as *;

.header {
  padding-block-start: var(--space-m);
  position: relative;
  border-radius: var(--border-radius-md);

  &Plain {
    background-color: transparent;

    :global([data-theme="dark"]) & {
      background-color: var(--color-base-darker);
    }
  }

  @media (min-width: $breakpoint-md) {
    padding-block: var(--space-l);
  }
}
