@use "../../styles/breakpoints" as *;

.header {
  padding-block-start: var(--space-32);
  padding-block-end: var(--space-24);
  background-color: var(--color-primary-lightest);
  position: relative;
  border-radius: var(--border-radius-md);

  h1 {
    margin-block-end: 0;
  }

  &Plain {
    background-color: var(--color-base-white);
  }

  &Huge {
    padding-block-start: var(--space-80);
    padding-block-end: var(--space-80);
  }

  @media (min-width: $breakpoint-md) {
    padding-block: var(--space-48);
  }

  @media (prefers-reduced-motion: no-preference) {
    @supports ((animation-timeline: scroll()) and (animation-range: 0% 100%)) {
      @keyframes leave-view {
        to {
          opacity: 0;
          translate: 0 40px;
        }
      }

      animation: leave-view linear both;
      animation-timeline: scroll(root);
      animation-range: 10vh 30vh;
    }
  }
}
