.header {
  padding-block-start: var(--space-64);
  padding-block-end: var(--space-32);
  background-color: var(--color-primary-lightest);
  position: relative;

  p {
    font-size: var(--font-size-md);
    max-width: 65ch;
  }

  .lead {
    margin-left: auto;
    margin-right: auto;
  }
}
