@use "../abstracts/variables" as *;

.footer {
  --gap: 7rem;
  background-color: hsl(var(--color-primary-100));
  padding: 5rem 0;
  margin-top: auto;
  position: relative;

  .wave-purple {
    position: absolute;
    background-image: url("/img/wave-purple.svg");
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: -10rem;
    height: 10rem;
    z-index: 0;
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  font-size: 1.6rem;
}

.social-icon {
  background-color: hsl(var(--color-white));
  padding: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border-bottom: none;

  &:hover {
    transform: translateY(-1rem);
    border-bottom: none;
  }

  &:not(:last-child) {
    margin-right: 4rem;
  }
}
