.d-grid-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap, 6rem);
}

.d-grid-three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem;
}

.d-inline {
  display: flex;
}
