@use "../abstracts/mixins" as m;

.d-grid-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap, 6rem);

  @include m.respond-to(phone-large) {
    grid-template-columns: 1fr;
    gap: var(--gap, 3rem);
  }
}

.d-grid-three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem;

  @include m.respond-to(phone-large) {
    grid-template-columns: 1fr;
    gap: var(--gap, 3rem);
  }
}

.d-inline {
  display: flex;
}
