@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.container {
  margin: 0 auto;
  max-width: 95%;
  max-width: 105rem;

  &--narrow {
    width: 90%;
    max-width: 95rem;
  }

  &--wide {
    max-width: 140rem;
  }
}

.section {
  padding: 5rem 0 10rem;
  position: relative;

  @include respond-to(phone) {
    padding: 7rem 0;
  }

  &--secondary {
    background-color: hsl(var(--color-primary-100));
  }

  .wave-white {
    position: absolute;
    background-image: url("/img/wave-white.svg");
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: -10rem;
    height: 10rem;
    z-index: 0;
  }

  .wave-purple {
    position: absolute;
    background-image: url("/img/wave-purple.svg");
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: -10rem;
    height: 10rem;
    z-index: 0;
  }
}
