@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as m;

.container {
  margin: 0 auto;
  max-width: 95%;
  max-width: 105rem;

  &--narrow {
    width: 90%;
    max-width: 95rem;

    @include m.respond-to(phone-large) {
      width: 85%;
    }
  }

  &--wide {
    max-width: 140rem;
  }
}

main {
  section:first-child {
    padding-top: 2rem;
  }
}

.section {
  padding: 5rem 0 17rem;
  position: relative;

  @include m.respond-to(phone) {
    padding: 7rem 0;
  }

  &--secondary {
    background-color: hsl(var(--color-primary-100));
  }

  .wave-white {
    position: absolute;
    background-image: url("/img/wave-white.svg");
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: -10rem;
    height: 10rem;
    z-index: 0;
  }

  .wave-purple {
    position: absolute;
    background-image: url("/img/wave-purple.svg");
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: -10rem;
    height: 10rem;
    z-index: 0;
  }

  .wave-purple,
  .wave-white {
    @include m.respond-to(phone) {
      top: -4rem;
    }
  }
}
