@use "../../styles/abstracts/mixins" as m;

.call-to-action {
  background-color: hsl(var(--color-primary-100));
  display: flex;
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  max-width: 85rem;
  margin: 0 auto;

  &__content {
    padding: 2.5rem;
  }

  &__image {
    -webkit-clip-path: polygon(21% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(21% 0, 100% 0, 100% 100%, 0 100%);
    position: relative;
    height: 26rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: hsla(var(--color-primary-700));
      opacity: 0.4;
    }

    @include m.respond-to(tab-land) {
      display: none;
    }
  }
}
