@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/animations" as *;

.home-header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  @include respond-to(tab-port) {
    display: block;
  }

  &__image-container {
    flex-basis: 40%;
    z-index: 10;
    height: 50rem;
    margin-bottom: -10rem;

    @include respond-to(tab-port) {
      display: none;
    }

    @include respond-to(tab-port) {
      height: 35rem;
      margin-right: 5rem;
    }
  }
  &__image {
    border-radius: var(--border-radius-sm);
    object-fit: cover;
    height: 100%;
  }

  &__content {
    h1 {
      font-size: 6rem;
      font-size: clamp(4.5rem, 6.3vw, 5.5rem);
      line-height: 1.1;
    }

    flex-basis: 60%;
    z-index: 10;

    @include respond-to(tab-port) {
      flex-basis: 70%;
    }
  }

  .amp {
    font-weight: var(--font-weight-normal);
    font-size: 5rem;
  }

  &__highlight {
    -webkit-text-fill-color: transparent;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
      90deg,
      hsl(var(--color-primary-900)) 35%,
      hsl(var(--color-primary-500)) 50%,
      hsl(var(--color-primary-900)) 55%
    );
    background-size: 250% 100%;
  }
}

.blogs {
  display: flex;
  flex-direction: column;
  margin: 0 0 3rem;
}
