@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.home-header {
  display: flex;
  justify-content: space-between;

  &__image-container {
    flex-basis: 40%;
    z-index: 10;
    height: 50rem;
    margin-bottom: -7rem;

    @include respond-to(phone) {
      display: none;
    }

    @include respond-to(tab-port) {
      height: 35rem;
      margin-right: 5rem;
    }
  }
  &__image {
    border-radius: var(--border-radius-sm);
    object-fit: cover;
    height: 100%;
  }

  &__content {
    h1 {
      font-size: 6rem;
      line-height: 1.2;
    }

    flex-basis: 55%;
    z-index: 10;

    @include respond-to(tab-port) {
      flex-basis: 70%;
    }
  }

  .amp {
    font-weight: var(--font-weight-normal);
    font-size: 5rem;
  }
}

.blogs {
  display: flex;
  flex-direction: column;
  margin: 0 0 3rem;
}
