@use "../abstracts/mixins" as m;

.service-image {
  border-radius: var(--border-radius-sm);
  object-fit: cover;
  min-height: 35rem;
  max-height: 40rem;

  @include m.respond-to(phone-large) {
    min-height: auto;
  }
}
