.navigation-wrapper {
  background-color: hsl(var(--color-white));
  // position: fixed;
  top: 0;
  box-shadow: 0 2px 1.5rem rgba(0, 0, 0, 0.05);
  width: 100%;
  padding-block: 2rem;
  z-index: 15;

  &.active {
    background-color: hsl(var(--color-primary-100));
    height: 100%;

    .navigation__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -10;

      li {
        margin: 2rem 0;

        a {
          font-size: 2rem;
        }
      }
    }
    .navigation-wrapper {
      position: static;
    }
  }
}

.navigation {
  display: flex;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;
  padding-inline: 2rem;

  &__list {
    display: flex;
  }

  &__item {
    list-style: none;
    margin-bottom: 0;

    a {
      border-bottom: none;
    }

    &:not(:last-child) {
      margin-right: 3.5rem;
    }

    &:hover {
      a {
        border-bottom: 0.2em solid hsl(var(--color-primary-500));
      }
    }
  }

  &__link {
    color: hsl(var(--color-gray-900));
    font-size: 1.6rem;
    text-decoration: none;
  }
}
