@use "../../styles/breakpoints" as *;

.footer {
  margin-top: auto;
  background-color: var(--color-primary-lightest);
  position: relative;
  border-radius: var(--border-radius-md);
  padding: var(--space-sm);

  ul {
    list-style-type: none;
    padding: 0;
  }

  p {
    font-size: var(--font-size-sm);
  }

  @media screen and (min-width: $breakpoint-md) {
    padding-block: 2rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: var(--space-md);
}
