.codeSnippetWrapper {
  position: relative;
}

.codeSnippet {
  pre {
    font-size: var(--font-size-sm);
  }
}

.language {
  // Dracula colors
  color: #f8f8f2;
  background-color: #282a36;

  padding-inline: var(--space-2xs);
  // padding-block: var(--space-2xs);
  border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xs);
  transform: rotate(90deg);
  position: absolute;
  top: var(--space-m);
  right: -24px;
  display: block;
}
