.mobileMenu {
  background-color: var(--color-primary-lightest);
  position: absolute;
  display: flex;
  flex-direction: column;
  inset: var(--space-sm);
  border-radius: var(--border-radius-md);
  overflow: auto;

  ul {
    padding: 0;
    list-style: none;
  }

  &Container {
    display: flex;
    flex-direction: column;
  }

  &ListItem {
    &:not(:first-of-type) {
      margin-block-start: var(--space-sm);
    }
  }

  &Link {
    font-size: var(--font-size-md);
    border-bottom: 0;

    &:not(:first-of-type) {
      margin-block-start: var(--space-sm);
    }
  }
}

.mobileCloseButton {
  margin-block: var(--space-2xs);
  position: relative;
  align-self: flex-end;
  top: 3px;
  color: var(--color-text);
}
