.tooltipContent {
  background-color: var(--color-primary-lightest);
  max-width: calc(var(--radix-tooltip-trigger-width) + 6rem);
  max-height: var(--radix-tooltip-content-available-height);
  border-radius: var(--border-radius-sm);
  padding: var(--space-16);
  transform-origin: var(--radix-tooltip-content-transform-origin);
  font-size: var(--font-size-sm);

  animation: slideUp 0.2s ease-out;
}

.tooltipTrigger {
  color: inherit;
  background: none;
  border: none;
  border-bottom: 3px dashed var(--color-primary-darker);
  padding: 0;

  &:hover {
    cursor: pointer;
  }
}

.tooltipArrow {
  fill: var(--color-primary-lightest);
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
