.toggle {
  display: flex;
  align-items: center;
  gap: var(--space-16);

  input {
    --input-height: 40px;
    appearance: none;
    height: var(--input-height);
    width: 80px;
    background-color: var(--color-base-white);
    border-radius: var(--input-height);
    position: relative;
    cursor: pointer;

    &::before {
      --size: calc(var(--input-height) - 10px);
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      height: var(--size);
      width: var(--size);
      background-color: var(--color-primary-dark);
      border-radius: 50%;
      transition: transform 0.3s;
    }

    &:checked::before {
      transform: translateX(40px);
    }
  }

  label {
    cursor: pointer;
    font-weight: var(--font-weight-bold);
  }
}
