@use "../../styles/breakpoints" as *;

.gridWithSidebar {
  display: flex;
  flex-direction: column;
  gap: var(--space-56);

  > aside {
    flex: 0 0 auto;
  }

  @media screen and (min-width: $breakpoint-lg) {
    flex-direction: row-reverse;

    > aside {
      flex: 0 0 14rem;
    }

    & > * + * {
      flex: 1 1 auto;
    }
  }
}
