.nav {
  display: flex;
  position: relative;
  isolation: isolate;
  justify-content: space-between;

  &::before {
    content: "";
    height: 15px;
    width: 15px;
    background-color: var(--color-primary-dark);
    position: absolute;
    top: 0;
    left: 0;
  }

  &List {
    display: flex;
    list-style: none;

    a {
      --border-size: 2px;
      display: block;
      padding: var(--space-16) var(--space-16);
      border-bottom: var(--border-size) solid transparent;

      &:hover {
        border-bottom: var(--border-size) solid var(--color-primary-dark);
      }
    }
  }
}
