.navWrapper {
  position: relative;
}

.nav {
  display: flex;
  isolation: isolate;
  justify-content: space-between;

  &List {
    display: flex;
    list-style: none;
    padding: 0;
  }

  &Link {
    --border-size: 2px;
    display: block;
    padding: var(--space-24) var(--space-16);
    border-bottom: var(--border-size) solid transparent;
    color: var(--color-body-text);

    &:hover {
      border-bottom: var(--border-size) solid var(--color-primary-dark);
    }
  }
}
