.siteNavigationWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: var(--space-sm);

  svg {
    color: var(--color-text);
  }
}

.nav {
  display: flex;
  isolation: isolate;
  justify-content: space-between;
  align-items: center;
  margin-block: var(--space-sm);
}
