@use "../../styles/breakpoints" as *;

.book {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);

  &ImageContainer {
    position: relative;
    width: 100%;

    @media screen and (min-width: $breakpoint-sm) {
      height: 235px;
    }
  }

  &Image {
    object-fit: cover;
    height: 100%;
  }

  &Title {
    font-size: var(--font-size-base);
  }

  &Author {
    font-size: var(--font-size-sm);
    line-height: auto;
  }

  &Rating {
    display: flex;
    gap: var(--space-4);
    justify-content: center;
  }

  .star {
    fill: var(--color-primary-dark);
    stroke: var(--color-primary-dark);
  }
}
