.shimmer {
  -webkit-text-fill-color: transparent;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  animation-delay: 0;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    var(--color-primary-darkest) 35%,
    var(--color-primary-dark) 50%,
    var(--color-primary-darkest) 55%
  );
  background-size: 250% 100%;
}

@keyframes shimmer {
  to {
    background-position: -200% 0;
  }
}
