.tag {
  background-color: var(--color-primary-dark);
  // background-color: var(--color-secondary-darker);
  position: absolute;
  padding-inline: var(--space-8);
  width: fit-content;
  right: var(--space-4);
  top: 0;
  z-index: 5;
  font-size: var(--font-size-xs);
  color: var(--color-base-white);
  font-weight: var(--font-weight-boldest);
  letter-spacing: 0.5px;
  border-radius: var(--border-radius-sm);
  transform: rotate(-90deg);
  height: 30px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 10px solid var(--color-primary-dark);
  }
}
