@use "../../styles/breakpoints" as *;

.contentTagFilter {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    font-size: var(--font-size-sm);
  }

  @media screen and (min-width: $breakpoint-md) {
    position: sticky;
    display: block;
    top: 1rem;
    align-self: flex-start;
  }
}

.tagItem {
  display: flex;
  align-items: center;
  gap: var(--space-8);
}
