@use "../../styles/breakpoints" as *;

.contentTagFilter {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    font-size: var(--font-size-sm);
  }
}

.tagItem {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
}
