@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as m;

html {
  font-family: var(--font-family-body);
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  color: hsl(var(--color-gray-900));
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h2,
h3,
h4 {
  color: hsl(var(--color-primary-700));
}

h1,
h2 {
  @include m.respond-to(phone-large) {
    line-height: 1.3;
  }
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  font-weight: var(--font-weight-heavy);
  color: hsl(var(--color-primary-900));
}

h2 {
  font-size: 3rem;
  margin: 3rem 0 2rem;
  font-weight: 800;
  font-weight: var(--font-weight-heavy);
}

h3 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-medium);
}

h4 {
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.8rem;
  margin: 2rem 0;
  line-height: 1.7;
  font-weight: var(--font-weight-medium);
}

label,
input {
  font-size: 1.8rem;
}

a {
  font-size: inherit;
  position: relative;
  text-decoration: none;
  border-bottom: 0.1em solid hsl(var(--color-primary-300));
  transition: 0.1s ease border;

  &:link {
    color: hsl(var(--color-primary-700));
  }

  &:hover,
  &:focus {
    border-bottom: 0.2em solid hsl(var(--color-primary-500));
  }

  &:active {
    border-bottom: 0.1em solid hsl(var(--color-primary-500));
    color: hsl(var(--color-primary-700));
  }

  &.big-link {
    font-size: 2.3rem;
  }
}

strong {
  color: hsl(var(--color-primary-700));
  font-weight: bold;
}

.lead {
  margin-bottom: 4rem;
  font-size: 2.3rem;

  @include m.respond-to(phone-large) {
    font-size: 2rem;
  }
}

.eyebrow {
  display: block;
  text-transform: uppercase;
  color: hsl(var(--color-primary-500));
  font-size: 1.5rem;
  font-weight: var(--font-weight-medium);
  margin-top: 0;
}

li {
  font-size: 1.8rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}

blockquote {
  background-color: hsl(var(--color-primary-100));
  padding: 2rem;
  border-radius: var(--border-radius-xsm);
  margin: 2rem 0;
  border-left: 4px solid hsl(var(--color-primary-300));

  p {
    margin: 0;
  }
}

.read-more {
  font-size: 1.8rem;
  display: inline-flex;
  align-items: center;
  border-bottom: none;

  svg {
    transition: 0.2s ease transform;
    margin-left: 0.5rem;
  }

  &:hover {
    border-bottom: none;

    svg {
      transform: translateX(1rem);
    }
  }
}

[data-bright-theme] {
  code > div {
    padding: 0 !important;
    padding: 0 1.3em !important;
  }
  width: calc(100% + 4em);

  margin-left: -2em !important;
}

pre {
  font-size: 1.6rem;
}

.fancy-header {
  position: relative;
  margin-top: 3rem;
  &__dots {
    position: absolute;
    top: -1rem;
    left: -2rem;
  }
}

.skip-to-content {
  background-color: hsl(var(--color-primary-700));
  color: hsl(var(--color-white)) !important;
  font-size: 1.6rem;
  left: 0;
  padding: 1.5rem;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-to-content:focus {
  border-bottom: none;
  transform: translateY(0%);
  z-index: 1000;
}
