@use "../../styles/breakpoints" as *;
.container {
  margin-inline: auto;
  width: 100%;
  max-width: calc(63rem + var(--space-l));
  padding-inline: var(--space-l);

  @media (max-width: $breakpoint-md) {
    padding-inline: var(--space-s);
  }
}
