.container {
  margin-inline: auto;
  width: 105rem;
  max-width: 90%;

  &--narrow {
    width: 90%;
    max-width: 95rem;
  }

  &--wide {
    max-width: 140rem;
  }

  .lead {
    margin-inline: auto;
  }
}
